*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body,.container-fluid{
    width: 100%;
    height: 100%;
}
header{
    width: 100%;
    height: 10%;
    background-color: pink;
}
header nav ul{
    list-style-type:none;
}
section{
    width: 100%;
    height: 80%;
    overflow-y: auto;
}
#signup-content{
    background-color: darkgray;
}
#signin-content{
    background-color: bisque;
}
footer{
    width: 100%;
    height: 10%;
    background-color: black;
    color: aliceblue;
    text-align: center;
}
